.info-box {
  background: var(--bg);
  border-left: 4px solid var(--primary);
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 0.9rem;
  color: var(--text);

  ul {
    margin: 5px 0 0 20px;
    padding: 0;
    list-style: none;

    li {
      color: red;
      &.valid {
        color: green;
        font-weight: bold;
      }
    }
  }
}

