<div id="password-rules" class="info-box">
  <p>Password must meet the following criteria:</p>
  <ul>
    <li [class.valid]="isValid('length')" id="rule-length">At least 8 characters</li>
    <li [class.valid]="isValid('uppercase')" id="rule-uppercase">At least one uppercase letter</li>
    <li [class.valid]="isValid('lowercase')" id="rule-lowercase">At least one lowercase letter</li>
    <li [class.valid]="isValid('number')" id="rule-number">At least one number</li>
    <li [class.valid]="isValid('special')" id="rule-special">At least one special character (!&#64;#$%^&*())</li>
  </ul>
</div>
